.business-overview {
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 16px;
}

.business-overview h2 {
  margin-bottom: 10px;
}

.business-overview p {
  margin: 0;
}

body {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
