.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  margin-left: 10px;
}

.logo span {
  color: #007bff;
}

.middle-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.discover-button {
  font-size: 16px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;
}

.user-icon {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 10px;
}

.logo-image {
  height: 70px;
}
